<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Optimal Väderprognos</title>
</head>
<body>
<h1>Optimal väderprognos för Liljeholmen</h1>
<p>Källa: <span th:text="${forecast != null} ? ${forecast.origin} : 'Ingen data'"></span></p>
<p>Temperatur: <span th:text="${forecast != null} ? ${forecast.temperature} : '-'"></span></p>
<p>Luftfuktighet: <span th:text="${forecast != null} ? ${forecast.humidity} : '-'"></span></p>
<p>Prognosens tidpunkt: <span th:text="${forecast != null} ? ${forecast.timestamp} : '-'"></span></p>
</body>
</html>