<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Optimal Väderprognos</title>
</head>
<body>
<h1>Optimal väderprognos för Liljeholmen</h1>

<p th:if="${forecast != null}">
    Källa: <span th:text="${forecast.origin}"></span>
</p>
<p th:if="${forecast == null}">
    Källa: Ingen data
</p>

<p th:if="${forecast != null}">
    Temperatur: <span th:text="${forecast.temperature}"></span> °C
</p>
<p th:if="${forecast == null}">
    Temperatur: -
</p>

<p th:if="${forecast != null}">
    Relativ luftfuktighet: <span th:text="${forecast.humidity}"></span>%
</p>
<p th:if="${forecast == null}">
    Relativ luftfuktighet: -
</p>

<p th:if="${forecast != null}">
    Prognosens tidpunkt: <span th:text="${#temporals.format(forecast.timestamp, 'yyyy-MM-dd HH:mm:ss')}"></span>
</p>
<p th:if="${forecast == null}">
    Prognosens tidpunkt: -
</p>

</body>
</html>